body{
    background-color: white;
}

button{
width: 70px;
height: 70px;
border-color: black;
color: transparent;
border-color:transparent;
}
h1{
    text-align: center;
    position: relative;  
    /* padding: 5px; */
}
#random_cell{
    font-size: larger;
}
#grid{
    float: left;
   
}

/* .float_right{
    float: right;
    padding: 10px;
} */
.float_left{
    float: left;
    text-align: center;
    padding-left: 30px;

}

#button_content{
    font-size: x-large;
    text-align: center;
    color: white;
    display: none;
 
}
#different_color{
    background-color: darkgreen;
    
}
#same_color{
background-color: beige;
}
#correct{
    color: green;
}
#wrong{
    color: red;
}