body {
    background-color: white;
}

button {
    width: 70px;
    height: 70px;
    border-color: black;
    border-color: transparent;
}

h1 {
    text-align: center;
    position: relative;
}

#random_coordinates {
    font-size: larger;
    display: inline-block;
}

#chessBoard {
    float: left;
    border-color: black;
    border-radius: 2px;
    padding: 2px;


}


.float_left {
    float: left;
    text-align: center;
    padding-left: 30px;

}

#ClickedButtonCoordinates {
    font-size: x-large;
    text-align: center;
    color: white;
    display: none;

}

.white {
    background-color: beige;

}

.black {
    background-color: darkgreen;
}

.correctAnswerColor {
    color: green;
}

.wrongAnswerColor {
    color: red;
}

#overlay {
    display: none;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: rgba(0, 0, 0, 0.227);
    margin: 250px;
    flex-direction: column;

}

#play_again {
    background-color: darkgreen;
    width: 150px;
    height: 70px;
}

#countDown {
    display: inline-block;
    padding-left: 200px;
    font-size: larger;

}